###############################################################################
##                                                                            #
##       GIT IGNORE FOR WORDPRESS SITES                                       #
##       ------------------------------                                       #
##       By: BigWilliam <hello@bigwilliam.com>                                #
##       License: MIT - aka you can use/modify this how you want :)           #
##                                                                            #
###############################################################################

###############################################################################
##                                                                            #
##       NOTE: TO STOP TRACKING A FILE AFTER IGNORING IT,                     #
##             USE THESE GIT COMMANDS:                                        #
##                                                                            #
##             git rm --cached <file>                                         #
##             git add . # or git add <file>                                  #
##                                                                            #
###############################################################################


## OS and Utility Stuff ##

#==================#
#     OS Files     #
#==================#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
*.sassc
*.css.map
*.js.map
.idea/

#==================#
#    Log files     #
#==================#
*.log
error_log
access_log
.sass-cache

#===================================#
#       npm Files             #
#===================================#
node_modules
bower_components
.grunt


#===================================#
#          sublime files            #
#===================================#
*.sublime-project
*.sublime-workspace
.sublime-gulp.cache
Package Syncing.last-run

## Main Stuff ##


#===================================#
#     Craft CMS                  #
#===================================#
dist/craft/storage/*
!dist/craft/storage/logo/*

dist/craft/license.key
dist/craft/
dist/public/
dist/config/config.local.php
dist/templates/
!dist/craft/translations/*



#===================================#
#     PROJECT SPECIFIC STUFF        #
#===================================#
README.html


## Depreciated stuff, keeping here for reference ##

##### design files #####
*.psd
.idea
/dist/config/db.php
/package.json
/src/js/app.js
/src/scss/app.scss
/src/images
/src/views/index.html
/yarn.lock
/dist/readme.txt
/src/views/layout/_layout.html
