;/*------------------------------------*\
    Author: Martin Herweg
    Description: CSS for .footer
    #footer
\*------------------------------------*/



.footer {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  background: #fff;
  align-items: center;
  position: relative;
  z-index: 1000;
  padding-bottom: 10px;
  font-size: rem-calc(30);
  padding-top: 10px;

  @include media('>620px') {
    box-shadow: 0 -5px 15px rgba(black, .3);
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include media('>=#{$newsletter_in_footer}') {
    flex-flow: row;
    font-size: rem-calc(18);
    padding-right: 0;
  }

  .button {
    font-family: fontFamilies('bold');

    @include media('<=420px') {
      align-self: flex-start;
      margin-left: 10px;
      font-size: rem-calc(16);
    }
  }

}

.footer__ravensburger_logo {
  position: absolute;
  right: 0;
  bottom: -5px;
  z-index: 10000;
  max-width: 163px;
  max-height: 163px;
}

